* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #eeffed;
  color: #0a0a0a;
  line-height: 1.6;
  transition: background 0.3s ease;
}

p {
  text-indent: 20px;
}

header {
  background: linear-gradient(180deg, #004d00, #002600);
  color: white;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  border-radius: 0 0 10px 10px;
}

header h3{
  padding: 25px;
  padding-bottom: 0;
  margin-left: 50px;
  margin-right: 50px;
}

header h1{
  padding: 25px;
  padding-bottom: 0;
  margin-left: 50px;
  margin-right: 50px;
}

nav {
  text-align: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav ul {
  list-style: none;
}


nav li {
  display: inline-block;
  margin: 0 18px;
}

nav a {
  text-decoration: none;
  color: #d9ffd9;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #00e65c;
  color: #000;
  transform: scale(1.05);
}
main {
  padding: 50px;
  max-width: 950px;
  margin: 40px auto;
  background-color: #f3fff2;
  border-radius: 18px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  animation: fadeIn 0.8s ease-in-out;
}

h2 {
  color: #004d00;
  margin-bottom: 18px;
  border-left: 5px solid #00cc44;
  padding-left: 10px;
}

p {
  margin-bottom: 18px;
  text-align: justify;
}


#quemsomos ul{
  list-style: none;
  text-align: center;
}

#quemsomos li {
  display: inline-block;
  margin: 0 18px;
  width: 300px;
  background-color: #CCE0B4;
  border-radius: 10px;
}

#quemsomos li img{
  width: 280px;
  padding-top: 20px;

}

#quemsomos li figcaption{
  padding: 10px;
  text-align: center;
}

#page_nos{
  display: flex;
}

footer {
  background: #003300;
  color: #b3ffb3;
  text-align: center;
  padding: 18px;
  margin-top: 40px;
  font-size: 0.9em;
  letter-spacing: 0.5px;
}
a:active {
  background-color: rgba(0,255,0,0.3);
  box-shadow: 0 0 15px 5px rgba(0,255,0,0.4);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


#setaesquerda, #setadireita {
  border: none;
  background-color: #f3fff2;
  margin-top: 120px;
  filter: opacity(50%);
}

#setaesquerda{
  margin-left: 30px;
}